.header
{
    position: absolute;
    height: fit-content;
    width: 100vw;
    border-bottom: 1px solid #dbdbdb;
}

.list
{
    list-style-type: none;
    padding-top: 0em;
    padding-right: 2em;
    font-size: 1.5em;
    width: 60vw;
    margin-left: 40%;
}

.list li
{
    display: inline;
    margin: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.list li a
{
    text-decoration: none;
    color: #bbbbbb
}

.list li:hover
{
    border-bottom: 1px solid grey;
}

.name
{
    color: rgb(61, 61, 61);
    width: 40vw;
    font-family: Optima, Helvetica, sans-serif;
    font-size: 2.5em;
    position: absolute; top: 0.5em;
}
